#slides
  .slide.slide0
    .content
      h2 PNW Scala 2013
      h1.left Scala<br/>for<br/>Javascript<br/>Kiddies
      h1.right Javascript<br/>for<br/>Scala<br/>Nerds
      h2 Clint Tseng &bull; Socrata

  .slide.slide1
    .content
      h1
        | Nothing here is new.
        span.asterisk *
      p.asterisk * (I&apos;m pretty sure)

