#slides
  .slide.slide0
    .content
      h2 PNW Scala 2013
      h1.left Scala<br/>for<br/>Javascript<br/>Kiddies
      h1.right Javascript<br/>for<br/>Scala<br/>Nerds
      h2 Clint Tseng &bull; Socrata

  .slide.slide1
    .content
      h1
        | Nothing here is new.
        span.asterisk *
      p.asterisk * (I&apos;m pretty sure)

  .slide.slide2
    .content
      h1 Janus
      ul
        li Definition
        li Justification
        li Origins
        li Consequences
        li Difficulties

  .slide.slide3
    .content
      h1 Janus is a web application framework focused on the organization of interface code into resuable, manageable pieces.
      ul
        li Backbone.js
        li Angular
        li Batman
        li Meteor
        li &hellip;

  .slide.slide4
    .logo
      svg( width='800px' height='800px' viewBox='0 0 92 93' version='1.1' xmlns='http://www.w3.org/2000/svg' )
        g( stroke='none' fill='none' fill-rule='evenodd' )
          path( d='M46,93 C20.594936,93 0,72.405064 0,47 C0,21.594936 20.594936,1 46,1 C51.4597667,1 56.6973743,1.95119167 61.556167,3.69690668 L58.8668408,11.233666 C54.8486348,9.7878885 50.5163265,9 46,9 C25.013208,9 8,26.013208 8,47 C8,67.986792 25.013208,85 46,85 C66.986792,85 84,67.986792 84,47 C84,41.2799175 82.7361408,35.8550204 80.4724563,30.9893605 L87.664672,27.47929 C90.4458161,33.4050551 92,40.0210309 92,47 C92,72.405064 71.405064,93 46,93 Z M46,93' fill='#FFFFFF')
          path( d='M46,72 C59.8071,72 71,60.8071 71,47 C71,43.3255893 70.2072923,39.8363224 68.783598,36.6939607 L75.0779322,33.6220901 C76.953734,37.6925211 78,42.2240783 78,47 C78,64.673088 63.673088,79 46,79 C28.326912,79 14,64.673088 14,47 C14,29.326912 28.326912,15 46,15 C49.8086157,15 53.4618289,15.6653682 56.8498436,16.8862424 L54.4966754,23.4809286 C51.844103,22.5224723 48.9830655,22 46,22 C32.1929,22 21,33.1929 21,47 C21,60.8071 32.1929,72 46,72 Z M46,72' fill='#CCCCCC' )
          path( d='M46,58.921875 C52.5842608,58.921875 57.921875,53.5842608 57.921875,47 C57.921875,45.3834723 57.6001392,43.8420889 57.0172118,42.4363975 L63.3872146,39.3275978 C64.424117,41.6739689 65,44.2697332 65,47 C65,57.493396 56.493396,66 46,66 C35.506604,66 27,57.493396 27,47 C27,36.506604 35.506604,28 46,28 C48.2754558,28 50.457488,28.4000008 52.4796657,29.1335403 L50.1001978,35.8019307 C48.8217306,35.3336807 47.4407089,35.078125 46,35.078125 C39.4157392,35.078125 34.078125,40.4157392 34.078125,47 C34.078125,53.5842608 39.4157392,58.921875 46,58.921875 Z M46,58.921875' fill='#999999' )
          path( d='M55.2235296,37.2255025 L89.7927586,20.8635706 C89.7927586,20.8635706 87.5783575,16.1886963 80.0740001,9.29946184 C72.5696428,2.41022735 68.0178432,0.687918726 68.0178432,0.687918726 L55.2235296,37.2255025 Z M55.2235296,37.2255025' fill='#DE0000' )

    .content
      h1 Socrata
      h2 We use data and technology to improve informed governance.

      ul.tech
        li rojoma-json
          .sub JSON library with type-driven codecs
        li socrata-http
          .sub Awesome HTTP client/server library
        li soda server
          .sub Our open source data server
        li everything!
          .sub All our new backend projects!

      ul.reasons
        li 508 compliance
          .sub Support for accesible users
        li SEO
          .sub Accounting for search engines

