#person
  .person.view
    .name
      .first
      .last
    .age
    .ageLabel years old

  .person.edit
    .first
    .label First Name
    .last
    .label Last Name
    .age
    .label Age
    .issues

