doctype 5
html( lang='en' )
  head
    link( rel='stylesheet', type='text/css', href='pnwscala.css' )
    title JS @ PNW Scala

  body
    .main

    script( type='text/javascript' src='jquery-2.0.3.min.js' )
    script( type='text/javascript' src='pnwscala.js' )

