// util
@mixin prefixer($key, $value)
  #{$key}: #{$value}
  -webkit-#{$key}: #{$value}
  -moz-#{$key}: #{$value}
  -ms-#{$key}: #{$value}
  -o-#{$key}: #{$value}

@mixin triangle($size, $color, $side)
  border: $size solid transparent
  border-#{$side}-color: $color
  height: 0
  width: 0

@mixin transition($duration, $property)
  @include transition-duration($duration)
  @include transition-property($property)

@mixin transition-duration($t)
  transition-duration: $t
  -moz-transition-duration: $t
  -webkit-transition-duration: $t
  -o-transition-duration: $t

@mixin transition-property($p)
  transition-property: $p
  @if ($p == box-shadow) or ($p == border-radius)
    -moz-transition-property: -moz- + $p
    -webkit-transition-property: -webkit- + $p
    -o-transition-property: -o- + $p
  @else
    -moz-transition-property: $p
    -webkit-transition-property: $p
    -o-transition-property: $p

@mixin centered($h, $w: false)
  height: $h
  margin-top: -($h / 2)
  position: absolute
  top: 50%
  @if $w == false
    left: 0
    width: 100%
  @else
    left: 50%
    margin-left: -($w / 2)
    width: $w

// static
@mixin trade-light
  font-family: 'Trade Gothic'
  font-weight: 300
  text-rendering: optimizeLegibility

$accent_aqua: #0fb598
$accent_tan: #e37105
$accent_yellow: #e3ad0c

// reset styles
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td
  margin: 0
  padding: 0
  border: 0
  outline: 0
  vertical-align: baseline
  background: transparent

html, body
  height: 100%
  width: 100%

body
  color: #333
  font-size: 62.5%
  line-height: 1

ol, ul
  list-style: none

blockquote, q
  quotes: none

  &:before, &:after
    content: ''
    content: none

*:focus
  outline: 0

// base styles
body
  background: #222
  color: #fff
  font-family: 'Myriad Pro'

.main
  height: 100%
  overflow: hidden
  position: relative
  width: 100%

h1, h2, h3
  font-weight: normal

h1
  font-size: 6.5em
  margin-bottom: 1em

ul
  li
    color: #ddd
    font-size: 3.5em
    margin-bottom: 0.8em

    .sub
      color: #aaa
      font-size: 0.7em

.code
  font-family: Monaco
  font-size: 3em
  line-height: 1.3em

  .highlight
    background-color: rgba(0, 0, 0, 0)
    @include prefixer(border-radius, 0.2em)
    display: inline-block
    margin: -0.3em
    padding: 0.3em
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.6)
    @include transition(0.3s, background box-shadow)

    &.active
      background-color: $accent_yellow
      @include prefixer(box-shadow, 0 0 3px rgba(0, 0, 0, 0.6))


// console styles
.janusConsole
  bottom: 0
  position: fixed
  z-index: 9999
  width: 100%

  &.shown
    .scrollback
      bottom: 8em
      opacity: 1
      top: auto
    .prompt
      top: -8em

  .scrollback
    background-color: rgba(0, 0, 0, 0.85)
    @include prefixer(border-radius, 0.2em)
    @include prefixer(box-shadow, 0 0 0.7em rgba(0, 0, 0, 0.7))
    color: #fff
    left: 0
    margin: 1em 3em
    opacity: 0
    padding: 0.6em 0
    position: absolute
    right: 0
    top: 0
    @include transition(0.8s, opacity)

    &.hide
      opacity: 0

    li.commandOutput
      border-top: 1px dotted rgba(255, 255, 255, 0.6)
      margin: 0 1.5em
      overflow: hidden
      padding: 1.5em
      position: relative

      &:first-child
        border-top: none

      .commandNumber, .commandText, .resultNumber
        font-family: Monaco, monospace
        font-size: 1.4em
        text-shadow: 0 0 0.2em rgba(0, 0, 0, 0.4)

      .commandNumber
        float: left
        padding-bottom: 0.7em
        margin-right: 0.7em
        opacity: 0.7

      .resultNumber
        clear: left
        float: left
        opacity: 0.7

      .resultBody
        margin-left: 4.2em
        margin-top: 1em

        .literal
          font-family: Monaco, monospace
          font-size: 1.4em

  .prompt
    background-color: rgba(255, 255, 255, 0.92)
    @include prefixer(border-radius, 0.2em)
    @include prefixer(box-shadow, 0 0 0.7em rgba(0, 0, 0, 0.7))
    left: 0
    margin: 1em 3em
    padding: 1em 2em
    position: absolute
    right: 0
    top: 0
    @include transition(0.6s, top)

    .caret
      color: #777
      float: left
      font-family: Monaco, monospace
      font-size: 1.8em
      line-height: 1.25em
      margin-right: 0.5em

    .consolePrompt input
      background: none
      border: none
      font-family: Monaco, monospace
      font-size: 1.8em
      margin: 0
        right: -3em
      outline: none
      padding: 0
      width: 100%

// layout styles
.main, .deck, .slides, .slides > ul
  height: 100%

.deck
  @for $idx from 0 through 18
    &.slide-#{$idx} .slides
      @include prefixer(transform, translateY(-($idx * 100%)))
      &.mini
        @include prefixer(transform, translateY(-($idx * 100%) scale(0.3)))
    .slide#{$idx}
      opacity: 1

  &.slide-19 .slides
    @include prefixer(transform, translateY(-100%))
    @include prefixer(transition-duration, 4s)

  &.slide-20 .slides
    @include prefixer(transform, translateY(-100%) translateX(-100%))
    @include prefixer(transition-duration, 1s)
    .slide20
      opacity: 1
  &.slide-21 .slides
    @include prefixer(transform, translateY(-100%) translateX(-200%))
    @include prefixer(transition-duration, 1s)
    .slide21
      opacity: 1
  &.slide-22 .slides
    @include prefixer(transition-duration, 2s)

.deck
  .slides
    @include transition(0.4s, transform opacity)

  .chrome
    @include trade-light
    bottom: 0
    font-size: 1.4em
    left: 0
    position: fixed
    right: 0

    .byLine, .subject
      bottom: 0
      padding: 0.8em
      position: absolute

    .byLine
      left: 0
      opacity: 0
      @include transition(0.4s, opacity)

      &.active
        opacity: 0.8

    .subject
      right: 0

.slide
  height: 100%
  opacity: 0.4
  position: relative
  width: 100%

// slide styles
.slide0
  .content
    @include centered(50em, 75em)
    width: 70em

  h2
    @include trade-light
    clear: both
    font-size: 2em
    letter-spacing: 8px
    text-align: center
    text-shadow: 0 0 4px #000
    text-transform: uppercase

  h1
    font-size: 8em
    letter-spacing: -2px
    line-height: 1.1em
    margin: 0.4em 0
    text-shadow: 0 0 10px #000

    &.left
      color: $accent_tan
      float: left
      margin-right: 40px
      text-align: right
      width: 330px

    &.right
      color: $accent_aqua
      overflow: hidden

.slide1
  .content
    @include centered(10em)
    text-align: center

    h1
      font-size: 6em
      margin-bottom: 0.3em

    p
      font-size: 2em

    .asterisk
      color: $accent_tan
      opacity: 0
      @include transition(0.5s, opacity)

  &.stage-1
    .asterisk
      opacity: 1

.slide2
  .content
    @include centered(45em)
    text-align: center

.slide3
  .content
    @include centered(20em)

  h1
    font-size: 5.5em
    line-height: 1.2em
    margin-top: 0
    padding: 0 2em
    @include transition(0.3s, margin)

  ul
    opacity: 0
    padding: 0 20em
    @include transition(0.3s, opacity)

  &.stage-1
    h1
      margin-top: -3.3em

    ul
      opacity: 1

.slide4
  overflow: hidden

  h1
    font-family: 'Frutiger Linotype'
    letter-spacing: -1px

  .logo
    bottom: -20em
    left: -20em
    opacity: 0.2
    position: absolute
    @include prefixer(transform, translateX(0))
    @include transition(5s, transform opacity)

    .slide-4 &
      opacity: 0.7

    svg
      @include prefixer(transform, rotateZ(60deg))
      @include transition(3s, transform)

      .slide-4 &
        @include prefixer(transform, rotateZ(0deg))

  .content
    margin-top: 16em
    padding-right: 20em
    text-align: right
    z-index: 1

    h1
      font-size: 9em
      margin-bottom: 0.3em
      padding-top: 1em
      opacity: 0
      @include transition(1.5s, opacity padding)

      .slide-4 &
        padding-top: 0
        opacity: 1

    h2
      color: #ddd
      font-size: 4em
      opacity: 0
      @include transition(0.3s, opacity)

    h1, h2
      text-shadow: 0 0 6px #000

    ul
      opacity: 0
      position: absolute
      right: 20em
      text-align: right
      top: 35em
      @include transition(0.3s, opacity)

  &.stage-1
    .logo
      opacity: 0.2
    .tech
      opacity: 1
  &.stage-2
    .content h2
      opacity: 1
  &.stage-3
    .logo
      opacity: 0.2
    .reasons
      opacity: 1

.slide5, .slide6
  .content
    @include centered(50em)
    text-align: center

    li
      opacity: 1
      @include transition(0.3s, opacity)

  @for $idx from 0 through 3
    &.stage-#{$idx} li:nth-child(#{$idx + 1}) ~ li
      opacity: 0

.slide7
  .content
    @include centered(7em)
    text-align: center

.slide8, .slide9
  .content
    @include centered(48em)

    h1
      margin-bottom: 0.3em

    .code
      margin-bottom: 0.5em

    hr
      border-color: #444
      margin: 1em 0

    .left
      float: left
      padding-bottom: 2em
      padding-left: 8em

      h1
        color: $accent_tan

    .right
      float: right
      opacity: 0
      padding-right: 8em
      text-align: right
      @include transition(0.3s, opacity)

      h1
        color: $accent_aqua

  &.stage-1
    .content .right
      opacity: 1

.slide9
  &.stage-2 .content .right
    opacity: 1

.slide10
  .content
    padding: 8em

    h1
      color: $accent_tan
      margin-bottom: 0.5em

    .monad
      text-align: right

      h1
        color: $accent_aqua

    .code.map, .monad, .monad li
      opacity: 1
      @include transition(0.3s, opacity)

    .code.map
      margin-top: 1.3em

  @for $idx from 2 through 6
    &.stage-#{$idx}
      li:nth-child(#{$idx - 1}),
      li:nth-child(#{$idx - 1}) ~ li
        opacity: 0

  &.stage-0 .content
    .code.map, .monad
      opacity: 0

  &.stage-1 .content
    .monad, .monad li
      opacity: 0

.slide11
  .content
    padding-top: 12em
    text-align: center

    svg
      @include transition(0.3s, all)

      text
        @include trade-light
        letter-spacing: -1px

  ul
    bottom: 12em
    position: absolute
    text-align: center
    width: 100%

    li
      opacity: 0
      position: absolute
      top: 0
      @include transition(0.3s, opacity)
      width: 100%

  .codeList
    position: absolute
    top: 0
    width: 100%

    .code
      background-color: rgba(34, 34, 34, 0.65)
      min-height: 9em
      opacity: 0
      padding: 6.5em 5em
      position: absolute
      text-shadow: 0 0 4px #000
      top: 0
      @include transition(0.3s, opacity)

  @for $idx from 1 through 11
    &.stage-#{($idx * 3) - 1}
      svg
        @include prefixer(filter, blur(20px) brightness(70%))

      .code:nth-child(#{$idx})
        opacity: 1

    &.stage-#{($idx * 3) - 2}, &.stage-#{$idx * 3 - 1}
      .detail li:nth-child(#{$idx})
        opacity: 1

  &.stage-1 .model
    stroke: #fff
    stroke-width: 10px

  &.stage-4 .list
    stroke: #fff
    stroke-width: 10px

  &.stage-7 .attribute
    stroke: #fff
    stroke-width: 10px

  &.stage-10 .issue
    stroke: #fff
    stroke-width: 10px

  &.stage-13 .view
    stroke: #fff
    stroke-width: 10px

  &.stage-16 .templater
    stroke: #fff
    stroke-width: 10px

  &.stage-19 .binding
    stroke: #fff
    stroke-width: 10px

  &.stage-22 .viewModel
    stroke: #fff
    stroke-width: 10px

  &.stage-25 .request
    stroke: #fff
    stroke-width: 10px

  &.stage-28 .store
    stroke: #fff
    stroke-width: 10px

  &.stage-31 .library
    stroke: #fff
    stroke-width: 10px

.person.view
  background: #eee
  @include prefixer(border-radius, 0.3em)
  @include prefixer(box-shadow, '0 0 1em #000, 0 0 1px rgba(0, 0, 0, 0.03) inset')
  color: #000
  overflow: hidden
  padding: 2em
  width: 50em

  .name
    float: left

    .first
      font-size: 6em
      letter-spacing: -1px
    .last
      font-size: 2.5em

  .age
    float: right
    font-size: 5em
  .ageLabel
    clear: right
    float: right
    font-size: 2.5em
    padding: 0.2em 0

.person.edit
  .label
    font-size: 1.8em
    margin: 0.5em 0.1em 1em

.issues
  padding: 1.5em 0

  .issue
    color: #e02
    font-size: 3em

    .icon
      padding-right: 0.5em

input[type='text']
  background: #383838
  border: none
  border-bottom: 4px solid #181818
  color: #fff
  font-family: 'Myriad Pro'
  font-size: 3em
  outline: none
  padding: 0.3em 0.6em 0.2em

.slide.slide12
  .content
    padding: 8em

  .issues
    width: 55em

    .issue
      line-height: 1.2em
      padding-bottom: 0.5em

  .person.edit
    float: left

  .person.view
    float: right

.slide.slide13
  .content
    @include centered(60em)
    text-align: center

  svg text
    @include trade-light
    letter-spacing: -1px

  .code
    padding-top: 1em

.slide.slide14
  .content
    @include centered(60em)
    padding: 0 8em

    h1
      color: $accent_aqua

    .code
      font-size: 2.5em
      opacity: 0
      position: absolute
      top: 3em
      @include transition(0.3s, opacity)

  &.stage-0 .bad
    opacity: 1

  &.stage-1 .good
    opacity: 1

.slide.slide15
  .content
    @include centered(35em)
    text-align: center

    h1
      color: $accent_tan

.slide.slide16
  .content
    @include centered(35em)
    text-align: center

    h1
      color: $accent_tan
      ~ h1
        color: $accent_aqua
        font-size: 4em

.slide.slide17
  .content
    @include centered(60em, 50em)

    h1
      color: $accent_tan

    .code
      font-size: 2.5em

      &:first-child
        color: $accent_aqua

.slide20
  left: 100%
  position: absolute
  top: 100%

  .content
    @include centered(50em)
    text-align: center

    h1
      color: $accent_tan

.slide21
  left: 200%
  position: absolute
  top: 100%

  .content
    @include centered(8em)
    text-align: center

    h1
      color: $accent_aqua

